<!DOCTYPE html>
<html>
<head>
     <title>Title</title>
</head>
<body>
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{{ message.tags}}">
                {{ message }}
            </div>
         {% endfor %}
    {% endif %}
    {% block content %} {% endblock content%}
</body>
</html>