{% extends "registration/base.html" %}

{% block content %}
    <div class ="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class=""form-group>
                <legend> LOG IN </legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button type="submit"> Log In</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small> Do you Need An Account? <a href="{% url 'register' %}"> Sign Up</a></small>
        </div>
    </div>
{% endblock content%}