{% extends "registration/base.html" %}

{% block content %}
    <div class ="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class=""form-group>
                <legend> SIGN UP </legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button type="submit"> Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small> Already Have An Account? <a href="{% url 'login' %}"> Sign In</a></small>
        </div>
    </div>
{% endblock content%}